body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

body {
  overflow-x: hidden; }

.navbar {
  background-color: rgba(0, 0, 0, 0.6); }
  .navbar #logo {
    height: 4rem; }
  .navbar p {
    margin-left: 5%;
    font-size: 20px;
    margin-top: 1.3rem;
    color: #367588; }
  .navbar .icons {
    height: 25px;
    width: 25px;
    margin-right: 1.5rem;
    border-radius: 100px; }

nav button {
  margin-left: 2rem;
  margin-bottom: 1rem; }

ul {
  margin-left: 25%;
  margin-right: 4rem; }
  ul li {
    padding: 15px; }
    ul li .dropdown-menu {
      position: relative;
      top: 4.6rem;
      background-color: rgba(0, 0, 0, 0.6); }
  ul li a {
    color: #367588 !important;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 10px; }
  ul a:hover {
    color: #367588 !important;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6); }
  ul a.dropdown-item {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: -.5rem;
    padding-bottom: 20px; }

#bg-img {
  position: relative;
  background-image: url("../img/kit1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  width: 100%;
  top: 5rem;
  z-index: 3; }

#slogan {
  position: relative;
  top: 7rem;
  text-align: center; }
  #slogan #i span {
    font-size: 3rem;
    color: #367588;
    font-style: italic; }
  #slogan #i p {
    font-size: 2rem; }
  #slogan #chgo span {
    color: #000;
    font-size: 1.3rem;
    font-style: italic; }

.gallery-container {
  margin-top: 15rem; }
  .gallery-container .gallery-text {
    margin-top: 18rem; }
  .gallery-container .gallery {
    text-align: center; }
    .gallery-container .gallery img {
      margin-top: 1rem;
      height: 150px;
      width: 150px;
      border-radius: 100px;
      border: 3px solid #d9dbe0; }
    .gallery-container .gallery img:hover {
      height: 200px;
      width: 200px; }
    .gallery-container .gallery p {
      margin-top: 1rem;
      text-align: center; }

.bottom {
  height: 30rem;
  width: 100vw;
  background-color: #367588;
  margin-top: 5rem; }
