@import "reset";
@import "variables";
@import "mixins";

body{
	overflow-x:hidden;
}

.navbar{
	background-color:$overlay;

	#logo{
		height:4rem;
	}

	 p{
    	margin-left:5%;
    	font-size:20px;
    	margin-top:1.3rem;
    	color:$logoBlue;
    }

    .icons{
    	height:25px;
    	width:25px;
    	margin-right:1.5rem;
    	border-radius:100px;
    }
}
nav button{
	margin-left:2rem;
	margin-bottom:1rem;
}

ul {
	margin-left: 25%;
	margin-right:4rem;

	li{
		padding:15px;

		.dropdown-menu{
			position:relative;
			top:4.6rem;
			background-color:$overlay;
		}
	}

 li a {
    color: $logoBlue !important;
    font-size: 1.1rem;
    font-weight:800;
    padding:10px;
}

   a:hover{
    	color:$logoBlue !important;
    	text-decoration:none;
    	background-color:$overlay;
    }

    a.dropdown-item{
    	background-color:$overlay;
    	position:relative;
    	top:-.5rem;
    	padding-bottom:20px;
    }
}


#bg-img{
	position:relative;
	background-image:url('../img/kit1.jpeg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:20rem;
	width:100%;
	top:5rem;
	z-index:3;
}

#slogan{

	position:relative;
	top:7rem;
	
		
		text-align:center;

		#i span{
			font-size:3rem;
			color: $logoBlue;
			font-style:italic;
		}

		#i p{
			font-size:2rem;
		}

		#chgo span {
		color:#000;
		font-size:1.3rem;
		font-style:italic;
	}
		

	}



.gallery{
	
	text-align:center;

 img{
	margin-top:12rem;
	height:150px;
	width:150px;
	border-radius:100px;
	border: 3px solid $logoGrey;
}

	img:hover{
		height:200px;
		width:200px;
	}

	p{
		margin-top:1rem;
		text-align:center;
	}
}

.bottom{
	height:30rem;
	width:100vw;
	background-color:$logoBlue;
	margin-top:5rem;
}