@import "reset";
@import "variables";
@import "mixins";

body{
	overflow-x:hidden;
}

.navbar{
	background-color:$overlay;
	}

	#logo{
		height:4rem;
	}


nav button{
	margin-left:2rem;
	margin-bottom:1rem;
}

ul {
	margin-left: 45%;

	li{
		padding:15px;

		.dropdown-menu{
			position:relative;
			top:4.6rem;
			background-color:$overlay;
		}
	}

 li a {
    color: $logoBlue !important;
    font-size: 1.1rem;
    font-weight:800;
    padding:10px;
}

   a:hover{
    	color:$logoBlue !important;
    	text-decoration:none;
    	background-color:$overlay;
    }

    a.dropdown-item{
    	background-color:$overlay;
    	position:relative;
    	top:-.5rem;
    	padding-bottom:20px;
    }
}


#bg-img{
	position:relative;
	background-image:url('../img/kit1.jpeg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:30rem;
	width:100%;
	z-index:3;
}

#slogan{

	position:relative;
	top:2rem;
	
	p{
		font-size:3rem;
		text-align:center;

	span{
		color:$logoBlue;
	}

	}
}

.gallery{
	
	text-align:center;

 img{
	margin-top:3rem;
	height:200px;
	width:200px;
	border-radius:100px;
	border: 3px solid $logoBlue;
}

	img:hover{
		height:225px;
		width:225px;
	}

	p{
		margin-top:1rem;
		text-align:center;
	}
}

.bottom{
	height:30rem;
	width:100vw;
	background-color:$logoBlue;
	margin-top:5rem;
}